{% extends 'base.html' %}
{% block head %}
    <title>Film {{ Users.query.filter_by(id=user_id).first().login }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/film.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/film-logo-white.png') }}" type="image/x-icon">
    <script defer src="{{ url_for('static', filename='js/film.js') }}"></script>
{% endblock %}
{% block body %}
    <div id="input">
        <h1>Film</h1>
        <form action="/film" method="post">
            <div class="input">
                <input type="text" name="title">
                <p class="placeholder">title</p>
            </div>
            <div class="input">
                <input type="text" name="film_genre">
                <p class="placeholder">film genre</p>
            </div>
            <div class="radio_box">
                <div class="div_radio">
                    <input type="radio" name="status" value="watched">
                    <p>watched</p>
                </div>
                <div class="div_radio">
                    <input type="radio" name="status" value="to watch">
                    <p>to watch</p>
                </div>
            </div>
            <div class="radio_box">
                <div class="div_radio">
                    <input type="radio" name="type" value="film">
                    <p>film</p>
                </div>
                <div class="div_radio">
                    <input type="radio" name="type" value="series">
                    <p>series</p>
                </div>
            </div>
            <button>add</button>
        </form>
    </div>
    {% if Films_Users.query.filter_by(id_user=user_id).all()|length < 1 %}
        <h1>No videos added yet</h1>
    {% else %}
        <div id="search_container"></div>
        <div id="container">
            {% for film in Films_Users.query.filter_by(id_user=user_id).all()|reverse %}
                <div id="film_box">
                    <div id="title">
                        <p>Title</p>
                        <p>{{ Films.query.filter_by(id=film.id_film).first().title }}</p>
                    </div>
                    <div id="film_genre">
                        <p>Film genre</p>
                        <p>{{ Films.query.filter_by(id=film.id_film).first().film_genre }}</p>
                    </div>
                    <div id="status">
                        <p>Status</p>
                        <p>{{ Films_Users.query.filter_by(id_film=film.id_film, id_user=user_id).first().status }}</p> 
                    </div>
                    <div id="type">
                        <p>Type</p>
                        <p>{{ Films.query.filter_by(id=film.id_film).first().type }}</p> 
                    </div>
                    <div id="action">
                        <p>Action</p>
                        <a href="/changeStatus/{{ film.id_film }}">Change Status</a>
                        <a href="/delete/{{ film.id_film }}">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <button id="search" title="Search">
        <!-- <a href="/search/{{ user_id }}">Search</a> -->
        search
    </button>
    <button id="statistics" title="Statistics">
        <a href="/statistics">
            <svg width="45px" height="45px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#1F263A"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path class="a" d="M12,2A10,10,0,1,0,22,12H12Z"></path><path class="a" d="M15,9h6.54077A10.02174,10.02174,0,0,0,15,2.45923Z"></path></g></svg>
        </a>
    </button>
    <button id="logout" title="Logout">
        <a href="/logout">
            <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 12H20M20 12L17 9M20 12L17 15" stroke="#1F263A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M4 12C4 7.58172 7.58172 4 12 4M12 20C9.47362 20 7.22075 18.8289 5.75463 17" stroke="#1F263A" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>
        </a>
    </button>
    <button id="scroll_button" title="Scroll">
        <svg width="50px" height="50px" viewBox="0 0 24 24" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#1F263A" stroke="#1F263A"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g class="cls-2"> <path d="M12,21.77A9.77,9.77,0,1,1,21.77,12,9.79,9.79,0,0,1,12,21.77Zm0-18A8.27,8.27,0,1,0,20.27,12,8.28,8.28,0,0,0,12,3.73Z"></path> <path d="M11.91,17.91h0a.75.75,0,0,1-.53-.22L9.11,15.43a.75.75,0,0,1,0-1.06.75.75,0,0,1,1.06,0l1.74,1.73,1.92-1.91a.74.74,0,0,1,1.06,0,.75.75,0,0,1,0,1.06l-2.45,2.44A.75.75,0,0,1,11.91,17.91Z"></path> <path d="M14.36,10a.71.71,0,0,1-.53-.22L11.91,7.9,10.17,9.63A.75.75,0,0,1,9.11,8.57l2.27-2.26a.77.77,0,0,1,1.06,0l2.45,2.44a.75.75,0,0,1,0,1.06A.74.74,0,0,1,14.36,10Z"></path> </g> </g></svg>
    </button>
{% endblock %}