{% extends 'base.html' %}
{% block head %}
    <title>SIGN UP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_in_and_sign_up.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/sign-up.png') }}" type="image/x-icon">
{% endblock %}

{% block body %}
    <h1>sign up</h1>
    <div id="container">
        <form action="/sign_up" method="post">
            {{ form.csrf_token }}
            {{ form.login }}
            {{ form.password }}
            {{ form.email }}
            <input type="submit" value="submit">
        </form>
    </div>
    <a href="/">Back</a>
{% endblock %}