{% extends 'base.html' %}
{% block head %}
    <title>SIGN IN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_in.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_in_and_sign_up.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <script defer src="{{ url_for('static', filename='js/sign_in.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='images/sign-in.png') }}" type="image/x-icon">
{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="message">
            {% for i in range(messages|length) %}
            {% if i == 0 %}
                <p>{{ messages[i] }}</p>
            {% else %}
                <a href="\password_recovery">{{ messages[i] }}</a>
            {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <h1>Sign in</h1>
    <div id="container">
        <form action="/sign_in" method="post">
            {{ form.csrf_token }}
            {{ form.login }}
            {{ form.password }}
            {{ form.submit }}
        </form>
    </div>
    <a href="/">Back</a>
{% endblock %}