*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    font-family: sans-serif;
    background: var(--background);
}
h1, a, #message p{
    letter-spacing: 3px;
    text-transform: uppercase;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: var(--transition-time);
}
a, #message p{
    font-weight: bold;
}
a:hover, h1:hover{
    transform: scale(1.2);
    letter-spacing: 5px;
}
#message p:hover{
    transform: scale(1.2);
}
#container, form{
    width: 300px;
    height: 300px;
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--major-gap);
}
.input{
    width: var(--input-button-width);
    height: var(--input-button-height);
    position: relative;
}
input[type='text'], input[type='password'], input[type='email']{
    width: var(--input-button-width);
    height: var(--input-button-height);
    border-radius: var(--border-radius);
    letter-spacing: 1px;
    padding: 10px; 
    color: var(--light-color);
    background-color: transparent;
    outline: none;
    z-index: 20;
}
input:hover + .placeholder, input:focus + .placeholder, .placeholder:hover{
   transform: translateY(-18px) translateX(-5px);
}
input[type='submit']{
    width: var(--input-button-width);
    height: var(--input-button-height);
    border-radius: var(--border-radius);
    font-size: var(--large-font-size);
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
    color: #1F263A;
    transition: var(--transition-time) ease;
}
input[type='submit']:hover{
    transform: scale(1.2);
}